<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../apikey.js"></script>
    <script src="../lib/HTMLEscape.js"></script>
    <script src="../global.js"></script>
    <link  href="./matchhistory.css" rel="stylesheet"><link>
</head>
<body>

<div id="upperInformationBox">
    <button id="update-match-history">Update history</button>
</div>

    <div id="box">
        <div id="match-history-gallery"></div>
    </div>


<script src="./matchhistory.js"></script>


</body>
</html>