
body{
    background-color: lightblue;
}

#champion-gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 60px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;

    border: solid;
}

.champion-div {
    width: auto;
    flex-grow: 1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px;
}

ul > li {
    text-align: center;
    height: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 4px 7px;
    border: 2px solid rgba(0,0,0,.3);
    background-color: rgba(0,0,0,.03);
}